* {
    font-family: 'Montserrat';
    font-size: 1rem;
}

.cartPage {
    max-height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    width: calc(100vw - 15px) ;
    height: 10vh;
}

.cartContent {
    height: 100%;
    width: 100%;
    padding-top: 10vh;
}

.addedList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    place-content: center;
    gap: 15px;
    padding: 10px;
}

.addedItem {
    border: 1px solid #444c00;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 30px;
    gap: 10px;
    padding: 5px;
}

.addedItemPic {
    height: 100%;
    width: 100%;
}

.displayCount {
    display: flex;
    gap: 5px;
}

.currentCount {
    width: 15px;
    display: flex;
    justify-content: center;
}

.removeFromCartBtn {
    height: 25px;
    justify-self: right;
    align-self: center;
    border-style: none;
    background-color: transparent;
}

.deleteIcon:hover {
    cursor: pointer;
}

.checkoutSec {
    margin-top: 10px;
}

.checkoutSec hr {
    width: 50%;
    justify-self: center;
}

.totalDisplay {
    text-align: center;
}

.checkoutBtnDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutBtn {
    border-style: none;
    background-color: #444c00;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

.checkoutBtn:hover {
    background-color: rgb(68, 76, 0, 0.9);
    cursor: pointer;
}

.emptyCart {
    text-align: center;
}

/* MEDIA QUERIES */

@media (width <= 640px) {
    .addedList {
        grid-template-columns: repeat(auto-fit, calc(100vw - 15px));
        padding: 10px 15px;
    }

    .addedItem {
        width: 100%;
    }

    .checkoutSec hr {
        width: 70%;
        justify-self: center;
    }

    .totalDisplay, 
    .checkoutBtnDiv {
        margin-top: 5px;
    }
}